{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umidjon Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"><link>
</head>
<body>
    <header>
      <h1><a href="{% url 'home' %}">Umidjon Blog</a></h1>
    </header>
    {% if user.is_authenticated %}
        <p>Xush kelibsiz, {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Chiqib ketish</a></p>
    {% else %}}
        <p>
            <a href="{% url 'login' %}">Saytga kirish</a> |
            <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
        </p>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <h2><a href="{% url 'post_new' %}">Yangi post yozish</a></h2>
    </footer>

</body>
</html>